{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/">Home</a></li>
                {% if request.is_authenticated %}
                <li> <a href="{%url 'destinations'%}">My Account</a> </li>
                    <form action="{% url 'destroy_session' %}" method="post"> 
                        {% csrf_token %}
                        <button type="submit">Sign Out</button> 
                    </form>
                {% else %}
                    <li><a href="{% url 'new_session' %}">Sign In</a> </li>
                    <li><a href="{% url 'new_user' %}">Create Account</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">My Destinations</h1>

        <section>
            <table class="table">
                <tr>
                    <th>Destination</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for destination in destinations %}
                <tr>
                    <td><p>{{ destination.name }}</p></td>
                    <td><button><a href="{% url 'edit_destination' destination.id %}">Edit</a></button></td>
                    <td><button><a href="{% url 'delete_destination' destination.id %}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </table>
            <a href="/destinations/new/">Create New Destination</a>
        </section>
    </main>
</body>
</html>